In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
pd.set_option("Display.max_columns", None)
# Example: pd.set_option('display.max_columns', None)

In [2]:
import datetime
from dateutil.relativedelta import relativedelta

def get_week_start_dates(start_date, end_date):
    week_start_dates = []
    current_date = start_date
    while current_date <= end_date:
        week_start_date = current_date - datetime.timedelta(days=current_date.weekday())
        week_start_dates.append(week_start_date)
        current_date += relativedelta(weeks=1)
    return week_start_dates

start_date = datetime.date(2024, 7, 29)
end_date = datetime.date(2024, 8, 4)

week_start_dates = get_week_start_dates(start_date, end_date)
print(week_start_dates)

[datetime.date(2024, 7, 29)]

In [3]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=aeb64637-5009-4664-81a3-63ca5a022ab6>

In [4]:
sq = """create table dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup as select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=3fec44db-a1a4-4104-8ada-0beca39f086d>

In [5]:
dfbackup = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup""").to_dataframe(progress_bar_type='tqdm')
dfbackup.sort_values(by='Date', ascending=False)

Job ID 75c19437-c5f0-4c1f-87cf-0b8254f7d55e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
28,2024-07-22 00:00:00+00:00,1679602,19218,611708,10713,81195,548,53916,474,89,0,49,0,6,0,53910,474,5400,0.001111,200000,150,2.870848e+08,4.694024e+08
26,2024-07-15 00:00:00+00:00,1660384,17994,600995,9839,80647,162,53442,160,89,0,49,0,6,0,53436,160,5400,0.001111,200000,150,3.038853e+08,5.232131e+08
29,2024-07-08 00:00:00+00:00,1642390,18875,591156,10024,80485,1304,53282,915,89,0,49,0,6,0,53276,915,5400,0.001111,200000,150,3.451679e+08,6.225982e+08
25,2024-07-01 00:00:00+00:00,1623515,19260,581132,1078,79181,1205,52367,445,89,0,49,0,6,0,52361,445,5400,0.001111,200000,150,3.088311e+08,5.026121e+08
27,2024-06-24 00:00:00+00:00,1604255,19183,580054,9665,77976,797,51922,349,89,0,49,2,6,1,51916,348,5400,0.001111,150000,150,2.330592e+08,3.975463e+08
24,2024-06-17 00:00:00+00:00,1585072,20086,570389,9956,77179,812,51573,1055,89,4,47,2,5,0,51568,1055,5400,0.000926,150000,150,2.877646e+08,4.256710e+08
23,2024-06-10 00:00:00+00:00,1564986,17323,560433,8480,76367,323,50518,15,85,8,45,6,5,2,50513,13,5400,0.000926,150000,150,2.810446e+08,4.510467e+08
22,2024-06-03 00:00:00+00:00,1547663,12680,551953,6059,76044,230,50503,72,77,5,39,0,3,0,50500,72,5400,0.000556,150000,150,3.311793e+08,4.800084e+08
21,2024-05-27 00:00:00+00:00,1534983,11163,545894,-2943,75814,381,50431,248,72,24,39,14,3,0,50428,248,5400,0.000556,150000,150,2.383715e+08,3.619388e+08
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,25,13,3,1,50180,43,4400,0.000682,150000,150,3.636701e+08,5.373206e+08
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,12,4,2,1,50137,-104,2600,0.000385,150000,150,2.937756e+08,4.604210e+08
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,8,8,1,1,50241,-248,1400,0.000714,150000,150,3.951591e+08,6.119330e+08
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,5,0,0,0,0,50489,25,300,0.000000,75000,150,2.945655e+08,4.487280e+08
0,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,0,0,50464,102,0,NaN,75000,150,2.928283e+08,4.459126e+08
11,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,0,0,50362,-212,0,NaN,75000,150,3.184236e+08,4.682940e+08
7,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,0,0,50574,-15,0,NaN,75000,150,3.531993e+08,5.532945e+08
2,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,0,0,50589,-194,0,NaN,75000,150,3.310704e+08,4.751903e+08
14,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,0,0,50783,-180,0,NaN,100000,150,2.842771e+08,4.134666e+08
15,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,0,0,50963,63,0,NaN,100000,150,3.296813e+08,4.685991e+08
3,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,0,0,50900,-87,0,NaN,100000,150,3.258497e+08,4.823249e+08
16,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,0,0,50987,147,0,NaN,100000,150,4.116797e+08,6.156079e+08
5,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,0,0,50840,112,0,NaN,86193,150,2.675935e+08,4.148115e+08
13,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,0,0,50728,-175,0,NaN,86193,150,3.264817e+08,4.766446e+08
10,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,0,0,50903,-82,0,NaN,86193,150,2.822920e+08,4.343265e+08
1,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,0,0,50985,85,0,NaN,86193,150,4.104948e+08,6.265953e+08
6,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,2.989477e+08,4.626896e+08
4,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,3.032386e+08,4.846881e+08
9,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,3.584430e+08,5.445832e+08
8,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,3.947052e+08,6.577761e+08
12,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,<NA>,0,<NA>,0,<NA>,50617,<NA>,0,NaN,82693,150,3.244634e+08,5.013680e+08

In [6]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers', 'Total_open_TSA_customers_WoW_Change',
       'MAU', 'MAU_WoW_Change', 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans',
       'ACL_Applied_Loans_WoW_Change', 'ACL_Processed_Loans',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers',
       'ACL_customers_WoW_Change', 'MMAU_ACL_difference',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake',
       'MAU_budget', 'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [7]:
dfbackup = dfbackup[['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',  'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers'
                     , 'MMAU_ACL_difference', 'Offers_extended', 'Uptake',  'MAU_budget', 'IncomingAmount', 'OutgoingAmount'
       ]].copy()

In [8]:
dfbackup

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,2.928283e+08,4.459126e+08
1,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,4.104948e+08,6.265953e+08
2,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,3.310704e+08,4.751903e+08
3,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,3.258497e+08,4.823249e+08
4,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,3.032386e+08,4.846881e+08
5,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,2.675935e+08,4.148115e+08
6,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,2.989477e+08,4.626896e+08
7,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,3.531993e+08,5.532945e+08
8,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,3.947052e+08,6.577761e+08
9,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,3.584430e+08,5.445832e+08
10,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,2.822920e+08,4.343265e+08
11,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,3.184236e+08,4.682940e+08
12,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,3.244634e+08,5.013680e+08
13,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,3.264817e+08,4.766446e+08
14,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,2.842771e+08,4.134666e+08
15,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,3.296813e+08,4.685991e+08
16,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,4.116797e+08,6.156079e+08
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,2.945655e+08,4.487280e+08
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,3.951591e+08,6.119330e+08
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,2.937756e+08,4.604210e+08
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,3.636701e+08,5.373206e+08
21,2024-05-27 00:00:00+00:00,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,2.383715e+08,3.619388e+08
22,2024-06-03 00:00:00+00:00,1547663,551953,76044,50503,77,39,3,50500,5400,0.000556,150000,3.311793e+08,4.800084e+08
23,2024-06-10 00:00:00+00:00,1564986,560433,76367,50518,85,45,5,50513,5400,0.000926,150000,2.810446e+08,4.510467e+08
24,2024-06-17 00:00:00+00:00,1585072,570389,77179,51573,89,47,5,51568,5400,0.000926,150000,2.877646e+08,4.256710e+08
25,2024-07-01 00:00:00+00:00,1623515,581132,79181,52367,89,49,6,52361,5400,0.001111,200000,3.088311e+08,5.026121e+08
26,2024-07-15 00:00:00+00:00,1660384,600995,80647,53442,89,49,6,53436,5400,0.001111,200000,3.038853e+08,5.232131e+08
27,2024-06-24 00:00:00+00:00,1604255,580054,77976,51922,89,49,6,51916,5400,0.001111,150000,2.330592e+08,3.975463e+08
28,2024-07-22 00:00:00+00:00,1679602,611708,81195,53916,89,49,6,53910,5400,0.001111,200000,2.870848e+08,4.694024e+08
29,2024-07-08 00:00:00+00:00,1642390,591156,80485,53282,89,49,6,53276,5400,0.001111,200000,3.451679e+08,6.225982e+08

In [9]:
%%time
res =  pd.DataFrame()
for date in week_start_dates:
    query = f"""with 
    all_cust   --- To get the total registered customer till the cut off date
    AS( 
        SELECT count(distinct cust_id) Total_registered_users
        from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
        where created_dt <= "{date}" and cust_id is not null 
        ) ,
    open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
    AS(
        SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
            where CRINTERDESC like 'Transactional Savings Account Inv_R'
            and OFCUSTOMERID in (select distinct cust_id 
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
            AND OFDATEOPENED <= "{date}"
            AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
            )           
            ,
    loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
    AS (
        SELECT 
            distinct CAST(lmt.customerId AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
            inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
        WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
        and lbfrc.loanStatus IN ('Normal', 'In Arrears')
            )           
            ,
    ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
        as 
            (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                ),
    non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
    AS (
        SELECT 
            distinct CAST(cust_id AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
        WHERE 
            cast(cust_id as string) not in (select customerId from loan_cust)
            and created_dt <= "{date}" and cust_id is not null 
    )
    /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
    No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
    If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
    ,        
    MAU_with_trx 
    AS (
        SELECT DISTINCT customer_id 
        FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
        AND ABS(trx_amount) > 100  --- transaction greater than 100
        AND account_type = "Tonik Account"  -- TSA account type
        AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
        )
        ,
    MAU_with_bal 
     AS (
        SELECT 
            DISTINCT client_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 100  --- balance in any account greater than 100
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
            AND client_id NOT IN (SELECT customerId FROM loan_cust) 
        )            ,
    MAU --- 
        AS (
        SELECT COUNT(distinct customer_id) AS MAU 
        FROM 
            (SELECT customer_id 
            FROM 
                MAU_with_trx
            UNION DISTINCT
            SELECT 
                client_id AS customer_id
            FROM 
                MAU_with_bal)),
    /* a) MMAU should be without active SIL, Quck and Flex loan. but when they will have ACL TSA loan - those should be included into MMAUs. 
    b)  I would like to ask you to add  
    1) the active TSA ACL loans issued (today its zero) after the MMAU.  
    2) Difference between MMAU with TSA aCL loan and TSA ACL LOans that will show us the current pool of eligible customers. 
    3) Offers extended. They should live somewhere on the datalake table. 
    For example this week we will issue 1000 offers. Next week we will issue 10 000 more. So netx week it will be 11 k offers sent.   
    And last one 4) Uptake. TSA ACL Loans active divided into Offers sent. as %.   */
    MMAU_customerbase as (select cast(customerId as string)customerId from non_ACL_cust union all (select cast(customerId as string)customerId from ACL_Customer)) , 
    transactional_cust --Mareks criteria
    AS (
        SELECT 
            DISTINCT customer_id
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE
            transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 3 MONTH) AND date("{date}")
            AND customer_id in (SELECT customerId FROM MMAU_customerbase)
        GROUP BY
            customer_id
        HAVING 
            COUNT(*) >= 5
    ),
    cust_with_balance --Mareks criteria
    AS (
        SELECT 
            DISTINCT client_id AS customer_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 1000
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}")
            AND client_id in (SELECT customerId FROM MMAU_customerbase)
            ),
      MMAU
    AS (
        SELECT 
            COUNT(customer_id) AS MMAU 
        FROM 
            ( SELECT 
            customer_id 
        FROM 
            transactional_cust
        UNION DISTINCT
        SELECT 
            customer_id
        FROM 
            cust_with_balance))
          ,
    ACL_Customers_Applied
    AS (select count(digitalLoanAccountId) ACL_Applied_Loans, from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) <= "{date}" ),     
    ACL_Customers_Processed
    AS (select count(distinct digitalLoanAccountId) ACL_Processed_Loans from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) < "{date}"
    and date(decision_date) is not null), 
    ACL_customers 
    AS (
        SELECT 
      count(distinct lmt.customerId ) ACL_customers
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
        inner join ACL_Customer ac on ac.customerId = lmt.customerId
        WHERE 
           date(lmt.disbursementDateTime) <= date("{date}")),
    Offers_extended 
    AS (
        SELECT count(distinct cust_id) Offers_extended
    FROM 
    `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_offers_trx` 
    where date(offer_start_date) <= date("{date}") 
    and offer_type like 'TSA_Whitelist'
    ),
    volin as 
    ( select  round(sum(case when credit_debit_indicator = 'CREDIT' then coalesce(trx_amount, 0) else 0 end),2) IncomingAmount , 
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    volout as 
    ( select  round(sum(case when credit_debit_indicator = 'DEBIT' then coalesce(abs(trx_amount), 0) else 0 end),2) OutgoingAmount
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    b
    AS (
        SELECT 
            '{date}' AS Date,
            *
        FROM 
            all_cust  
        CROSS JOIN 
            open_TSA_cust
        CROSS JOIN 
            MAU 
        CROSS JOIN 
            MMAU
        CROSS JOIN
            ACL_Customers_Applied
        CROSS JOIN
            ACL_Customers_Processed
        CROSS JOIN
            ACL_customers
        CROSS JOIN 
            Offers_extended
        CROSS JOIN
            volin
        CROSS JOIN
            volout)
    select Date,
            Total_registered_users,
            Total_open_TSA_customers,
            MAU,
            MMAU,
            ACL_Applied_Loans,
            ACL_Processed_Loans,
            ACL_customers,
            MMAU - ACL_customers  MMAU_ACL_difference, 
            Offers_extended,
            CASE 
                WHEN Offers_extended<> 0 then ACL_customers/Offers_extended 
                ELSE NULL END AS Uptake,
            mb.MAU_Budget  MAU_budget  ,
            IncomingAmount,  
            OutgoingAmount      
            from b
           left join prj-prod-dataplatform.dap_ds_poweruser_playground.MAU_Budget mb on mb.yearmonth = FORMAT_DATE('%Y-%m', date(b.Date));"""
    df = client.query(query).to_dataframe()
    res = pd.concat([res,df])

CPU times: total: 15.6 ms
Wall time: 5.63 s

In [10]:
res

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-07-29,1699571,622841,81151,54001,89,49,6,53995,5400,0.001111,200000,2.583061e+08,4.218204e+08

In [11]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [12]:
res.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [13]:
df1 = pd.concat([dfbackup, res])

In [14]:
df1

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,2.928283e+08,4.459126e+08
1,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,4.104948e+08,6.265953e+08
2,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,3.310704e+08,4.751903e+08
3,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,3.258497e+08,4.823249e+08
4,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,3.032386e+08,4.846881e+08
5,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,2.675935e+08,4.148115e+08
6,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,2.989477e+08,4.626896e+08
7,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,3.531993e+08,5.532945e+08
8,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,3.947052e+08,6.577761e+08
9,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,3.584430e+08,5.445832e+08
10,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,2.822920e+08,4.343265e+08
11,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,3.184236e+08,4.682940e+08
12,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,3.244634e+08,5.013680e+08
13,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,3.264817e+08,4.766446e+08
14,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,2.842771e+08,4.134666e+08
15,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,3.296813e+08,4.685991e+08
16,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,4.116797e+08,6.156079e+08
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,2.945655e+08,4.487280e+08
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,3.951591e+08,6.119330e+08
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,2.937756e+08,4.604210e+08
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,3.636701e+08,5.373206e+08
21,2024-05-27 00:00:00+00:00,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,2.383715e+08,3.619388e+08
22,2024-06-03 00:00:00+00:00,1547663,551953,76044,50503,77,39,3,50500,5400,0.000556,150000,3.311793e+08,4.800084e+08
23,2024-06-10 00:00:00+00:00,1564986,560433,76367,50518,85,45,5,50513,5400,0.000926,150000,2.810446e+08,4.510467e+08
24,2024-06-17 00:00:00+00:00,1585072,570389,77179,51573,89,47,5,51568,5400,0.000926,150000,2.877646e+08,4.256710e+08
25,2024-07-01 00:00:00+00:00,1623515,581132,79181,52367,89,49,6,52361,5400,0.001111,200000,3.088311e+08,5.026121e+08
26,2024-07-15 00:00:00+00:00,1660384,600995,80647,53442,89,49,6,53436,5400,0.001111,200000,3.038853e+08,5.232131e+08
27,2024-06-24 00:00:00+00:00,1604255,580054,77976,51922,89,49,6,51916,5400,0.001111,150000,2.330592e+08,3.975463e+08
28,2024-07-22 00:00:00+00:00,1679602,611708,81195,53916,89,49,6,53910,5400,0.001111,200000,2.870848e+08,4.694024e+08
29,2024-07-08 00:00:00+00:00,1642390,591156,80485,53282,89,49,6,53276,5400,0.001111,200000,3.451679e+08,6.225982e+08
0,2024-07-29,1699571,622841,81151,54001,89,49,6,53995,5400,0.001111,200000,2.583061e+08,4.218204e+08

In [15]:
df = df1.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 0
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      31 non-null     object
 1   Total_registered_users    31 non-null     Int64
 2   Total_open_TSA_customers  31 non-null     Int64
 3   MAU                       31 non-null     Int64
 4   MMAU                      31 non-null     Int64
 5   ACL_Applied_Loans         31 non-null     Int64
 6   ACL_Processed_Loans       31 non-null     Int64
 7   ACL_customers             31 non-null     Int64
 8   MMAU_ACL_difference       31 non-null     Int64
 9   Offers_extended           31 non-null     Int64
 10  Uptake                    14 non-null     float64
 11  MAU_budget                31 non-null     Int64
 12  IncomingAmount            31 non-null     float64
 13  OutgoingAmount            31 non-null     float64
dtypes: Int64(10), float64(3), object(1)
memory usage: 3.9+ KB

In [16]:
import pandas as pd

# Assuming df contains your DataFrame with the data

# Convert the 'Date' column to datetime type with UTC timezone
df['Date'] = pd.to_datetime(df['Date'], utc=True)

# Sort the DataFrame by date
df = df.sort_values('Date')

# Calculate the week-on-week change for each column
for column in df.columns[1:]:  # Exclude 'Date' column
    df[f'{column}_WoW_Change'] = df[column].diff()

# Display the DataFrame with week-on-week changes
print(df)

df['ACLTSAbudget'] = 150

                        Date  Total_registered_users  \
12 2024-01-01 00:00:00+00:00                 1355336
8  2024-01-08 00:00:00+00:00                 1362292
9  2024-01-15 00:00:00+00:00                 1369085
4  2024-01-22 00:00:00+00:00                 1376006
6  2024-01-29 00:00:00+00:00                 1383107
1  2024-02-05 00:00:00+00:00                 1390338
10 2024-02-12 00:00:00+00:00                 1397598
13 2024-02-19 00:00:00+00:00                 1404530
5  2024-02-26 00:00:00+00:00                 1411640
16 2024-03-04 00:00:00+00:00                 1418388
3  2024-03-11 00:00:00+00:00                 1425333
15 2024-03-18 00:00:00+00:00                 1432862
14 2024-03-25 00:00:00+00:00                 1439787
2  2024-04-01 00:00:00+00:00                 1447164
7  2024-04-08 00:00:00+00:00                 1455861
11 2024-04-15 00:00:00+00:00                 1465200
0  2024-04-22 00:00:00+00:00                 1475713
17 2024-04-29 00:00:00+00:00                 1487371
18 2024-05-06 00:00:00+00:00                 1500125
19 2024-05-13 00:00:00+00:00                 1511923
20 2024-05-20 00:00:00+00:00                 1523820
21 2024-05-27 00:00:00+00:00                 1534983
22 2024-06-03 00:00:00+00:00                 1547663
23 2024-06-10 00:00:00+00:00                 1564986
24 2024-06-17 00:00:00+00:00                 1585072
27 2024-06-24 00:00:00+00:00                 1604255
25 2024-07-01 00:00:00+00:00                 1623515
29 2024-07-08 00:00:00+00:00                 1642390
26 2024-07-15 00:00:00+00:00                 1660384
28 2024-07-22 00:00:00+00:00                 1679602
0  2024-07-29 00:00:00+00:00                 1699571

    Total_open_TSA_customers    MAU   MMAU  ACL_Applied_Loans  \
12                    516362  73572  50617                  0
8                     519839  73835  50778                  0
9                     523114  74108  50845                  0
4                     516477  74288  51028                  0
6                     519803  74193  50900                  0
1                     522814  74287  50985                  0
10                    525724  74490  50903                  0
13                    528591  74783  50728                  0
5                     521983  75099  50840                  0
16                    525010  75818  50987                  0
3                     527673  75776  50900                  0
15                    530746  75682  50963                  0
14                    533434  75501  50783                  0
2                     526058  75070  50589                  0
7                     525441  75103  50574                  0
11                    529304  74863  50362                  0
0                     534136  75272  50464                  0
17                    531960  75309  50489                  5
18                    537927  75484  50242                 16
19                    542902  75048  50138                 27
20                    548837  75433  50183                 48
21                    545894  75814  50431                 72
22                    551953  76044  50503                 77
23                    560433  76367  50518                 85
24                    570389  77179  51573                 89
27                    580054  77976  51922                 89
25                    581132  79181  52367                 89
29                    591156  80485  53282                 89
26                    600995  80647  53442                 89
28                    611708  81195  53916                 89
0                     622841  81151  54001                 89

    ACL_Processed_Loans  ACL_customers  MMAU_ACL_difference  Offers_extended  \
12                    0              0                50617                0
8                     0              0                50778                0
9                     0              0                50845                0
4                     0              0                51028                0
6                     0              0                50900                0
1                     0              0                50985                0
10                    0              0                50903                0
13                    0              0                50728                0
5                     0              0                50840                0
16                    0              0                50987                0
3                     0              0                50900                0
15                    0              0                50963                0
14                    0              0                50783                0
2                     0              0                50589                0
7                     0              0                50574                0
11                    0              0                50362                0
0                     0              0                50464                0
17                    0              0                50489              300
18                    8              1                50241             1400
19                   12              2                50137             2600
20                   25              3                50180             4400
21                   39              3                50428             5400
22                   39              3                50500             5400
23                   45              5                50513             5400
24                   47              5                51568             5400
27                   49              6                51916             5400
25                   49              6                52361             5400
29                   49              6                53276             5400
26                   49              6                53436             5400
28                   49              6                53910             5400
0                    49              6                53995             5400

      Uptake  MAU_budget  IncomingAmount  OutgoingAmount  \
12       NaN       82693    3.244634e+08    5.013680e+08
8        NaN       82693    3.947052e+08    6.577761e+08
9        NaN       82693    3.584430e+08    5.445832e+08
4        NaN       82693    3.032386e+08    4.846881e+08
6        NaN       82693    2.989477e+08    4.626896e+08
1        NaN       86193    4.104948e+08    6.265953e+08
10       NaN       86193    2.822920e+08    4.343265e+08
13       NaN       86193    3.264817e+08    4.766446e+08
5        NaN       86193    2.675935e+08    4.148115e+08
16       NaN      100000    4.116797e+08    6.156079e+08
3        NaN      100000    3.258497e+08    4.823249e+08
15       NaN      100000    3.296813e+08    4.685991e+08
14       NaN      100000    2.842771e+08    4.134666e+08
2        NaN       75000    3.310704e+08    4.751903e+08
7        NaN       75000    3.531993e+08    5.532945e+08
11       NaN       75000    3.184236e+08    4.682940e+08
0        NaN       75000    2.928283e+08    4.459126e+08
17  0.000000       75000    2.945655e+08    4.487280e+08
18  0.000714      150000    3.951591e+08    6.119330e+08
19  0.000385      150000    2.937756e+08    4.604210e+08
20  0.000682      150000    3.636701e+08    5.373206e+08
21  0.000556      150000    2.383715e+08    3.619388e+08
22  0.000556      150000    3.311793e+08    4.800084e+08
23  0.000926      150000    2.810446e+08    4.510467e+08
24  0.000926      150000    2.877646e+08    4.256710e+08
27  0.001111      150000    2.330592e+08    3.975463e+08
25  0.001111      200000    3.088311e+08    5.026121e+08
29  0.001111      200000    3.451679e+08    6.225982e+08
26  0.001111      200000    3.038853e+08    5.232131e+08
28  0.001111      200000    2.870848e+08    4.694024e+08
0   0.001111      200000    2.583061e+08    4.218204e+08

    Total_registered_users_WoW_Change  Total_open_TSA_customers_WoW_Change  \
12                               <NA>                                 <NA>
8                                6956                                 3477
9                                6793                                 3275
4                                6921                                -6637
6                                7101                                 3326
1                                7231                                 3011
10                               7260                                 2910
13                               6932                                 2867
5                                7110                                -6608
16                               6748                                 3027
3                                6945                                 2663
15                               7529                                 3073
14                               6925                                 2688
2                                7377                                -7376
7                                8697                                 -617
11                               9339                                 3863
0                               10513                                 4832
17                              11658                                -2176
18                              12754                                 5967
19                              11798                                 4975
20                              11897                                 5935
21                              11163                                -2943
22                              12680                                 6059
23                              17323                                 8480
24                              20086                                 9956
27                              19183                                 9665
25                              19260                                 1078
29                              18875                                10024
26                              17994                                 9839
28                              19218                                10713
0                               19969                                11133

    MAU_WoW_Change  MMAU_WoW_Change  ACL_Applied_Loans_WoW_Change  \
12            <NA>             <NA>                          <NA>
8              263              161                             0
9              273               67                             0
4              180              183                             0
6              -95             -128                             0
1               94               85                             0
10             203              -82                             0
13             293             -175                             0
5              316              112                             0
16             719              147                             0
3              -42              -87                             0
15             -94               63                             0
14            -181             -180                             0
2             -431             -194                             0
7               33              -15                             0
11            -240             -212                             0
0              409              102                             0
17              37               25                             5
18             175             -247                            11
19            -436             -104                            11
20             385               45                            21
21             381              248                            24
22             230               72                             5
23             323               15                             8
24             812             1055                             4
27             797              349                             0
25            1205              445                             0
29            1304              915                             0
26             162              160                             0
28             548              474                             0
0              -44               85                             0

    ACL_Processed_Loans_WoW_Change  ACL_customers_WoW_Change  \
12                            <NA>                      <NA>
8                                0                         0
9                                0                         0
4                                0                         0
6                                0                         0
1                                0                         0
10                               0                         0
13                               0                         0
5                                0                         0
16                               0                         0
3                                0                         0
15                               0                         0
14                               0                         0
2                                0                         0
7                                0                         0
11                               0                         0
0                                0                         0
17                               0                         0
18                               8                         1
19                               4                         1
20                              13                         1
21                              14                         0
22                               0                         0
23                               6                         2
24                               2                         0
27                               2                         1
25                               0                         0
29                               0                         0
26                               0                         0
28                               0                         0
0                                0                         0

    MMAU_ACL_difference_WoW_Change  Offers_extended_WoW_Change  \
12                            <NA>                        <NA>
8                              161                           0
9                               67                           0
4                              183                           0
6                             -128                           0
1                               85                           0
10                             -82                           0
13                            -175                           0
5                              112                           0
16                             147                           0
3                              -87                           0
15                              63                           0
14                            -180                           0
2                             -194                           0
7                              -15                           0
11                            -212                           0
0                              102                           0
17                              25                         300
18                            -248                        1100
19                            -104                        1200
20                              43                        1800
21                             248                        1000
22                              72                           0
23                              13                           0
24                            1055                           0
27                             348                           0
25                             445                           0
29                             915                           0
26                             160                           0
28                             474                           0
0                               85                           0

    Uptake_WoW_Change  MAU_budget_WoW_Change  IncomingAmount_WoW_Change  \
12                NaN                   <NA>                        NaN
8                 NaN                      0               7.024183e+07
9                 NaN                      0              -3.626224e+07
4                 NaN                      0              -5.520436e+07
6                 NaN                      0              -4.290943e+06
1                 NaN                   3500               1.115472e+08
10                NaN                      0              -1.282028e+08
13                NaN                      0               4.418965e+07
5                 NaN                      0              -5.888820e+07
16                NaN                  13807               1.440862e+08
3                 NaN                      0              -8.582999e+07
15                NaN                      0               3.831609e+06
14                NaN                      0              -4.540428e+07
2                 NaN                 -25000               4.679336e+07
7                 NaN                      0               2.212890e+07
11                NaN                      0              -3.477571e+07
0                 NaN                      0              -2.559535e+07
17                NaN                      0               1.737184e+06
18           0.000714                  75000               1.005937e+08
19          -0.000330                      0              -1.013835e+08
20           0.000297                      0               6.989449e+07
21          -0.000126                      0              -1.252987e+08
22           0.000000                      0               9.280780e+07
23           0.000370                      0              -5.013464e+07
24           0.000000                      0               6.720029e+06
27           0.000185                      0              -5.470544e+07
25           0.000000                  50000               7.577195e+07
29           0.000000                      0               3.633678e+07
26           0.000000                      0              -4.128266e+07
28           0.000000                      0              -1.680044e+07
0            0.000000                      0              -2.877871e+07

    OutgoingAmount_WoW_Change
12                        NaN
8                1.564081e+08
9               -1.131929e+08
4               -5.989508e+07
6               -2.199849e+07
1                1.639057e+08
10              -1.922688e+08
13               4.231815e+07
5               -6.183310e+07
16               2.007964e+08
3               -1.332830e+08
15              -1.372580e+07
14              -5.513248e+07
2                6.172369e+07
7                7.810419e+07
11              -8.500046e+07
0               -2.238149e+07
17               2.815476e+06
18               1.632050e+08
19              -1.515120e+08
20               7.689961e+07
21              -1.753818e+08
22               1.180695e+08
23              -2.896170e+07
24              -2.537562e+07
27              -2.812479e+07
25               1.050658e+08
29               1.199862e+08
26              -9.938518e+07
28              -5.381067e+07
0               -4.758201e+07

In [17]:
# # Assuming df contains your DataFrame with the data
# # Convert the 'Date' column to datetime type
# df['Date'] = pd.to_datetime(df['Date'])

# # Sort the DataFrame by date
# df = df.sort_values('Date')


# # Calculate the week-on-week change for each column
# for column in df.columns[1:]:  # Exclude 'Date' column
#     df[f'{column}_WoW_Change'] = df[column].diff()
#     # df[f'{column}_WoW_Change'] = df[column].shift(1) - df[column]

# # Display the DataFrame with week-on-week changes
# # df['MAU_budget'] = 75000
# # df['perMAUbudget_Completion'] = round(df['MAU']/df['MAU_budget'], 2)
# df['ACLTSAbudget'] = 150
# # df['UptakeACLTSAvsbudget'] = round(df['Uptake'] / df['ACLTSAbudget'], 2)
# # df['MAUas_percent_oftotalregisteredusers'] = round(df['MAU']/df['Total_registered_users'], 2 )
# # df['MMAU_of_MAU'] = round(df['MMAU']/df['MAU'], 2)

In [18]:
df

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount,Total_registered_users_WoW_Change,Total_open_TSA_customers_WoW_Change,MAU_WoW_Change,MMAU_WoW_Change,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans_WoW_Change,ACL_customers_WoW_Change,MMAU_ACL_difference_WoW_Change,Offers_extended_WoW_Change,Uptake_WoW_Change,MAU_budget_WoW_Change,IncomingAmount_WoW_Change,OutgoingAmount_WoW_Change,ACLTSAbudget
12,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,3.244634e+08,5.013680e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,NaN,NaN,150
8,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,3.947052e+08,6.577761e+08,6956,3477,263,161,0,0,0,161,0,NaN,0,7.024183e+07,1.564081e+08,150
9,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,3.584430e+08,5.445832e+08,6793,3275,273,67,0,0,0,67,0,NaN,0,-3.626224e+07,-1.131929e+08,150
4,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,3.032386e+08,4.846881e+08,6921,-6637,180,183,0,0,0,183,0,NaN,0,-5.520436e+07,-5.989508e+07,150
6,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,2.989477e+08,4.626896e+08,7101,3326,-95,-128,0,0,0,-128,0,NaN,0,-4.290943e+06,-2.199849e+07,150
1,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,4.104948e+08,6.265953e+08,7231,3011,94,85,0,0,0,85,0,NaN,3500,1.115472e+08,1.639057e+08,150
10,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,2.822920e+08,4.343265e+08,7260,2910,203,-82,0,0,0,-82,0,NaN,0,-1.282028e+08,-1.922688e+08,150
13,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,3.264817e+08,4.766446e+08,6932,2867,293,-175,0,0,0,-175,0,NaN,0,4.418965e+07,4.231815e+07,150
5,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,2.675935e+08,4.148115e+08,7110,-6608,316,112,0,0,0,112,0,NaN,0,-5.888820e+07,-6.183310e+07,150
16,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,4.116797e+08,6.156079e+08,6748,3027,719,147,0,0,0,147,0,NaN,13807,1.440862e+08,2.007964e+08,150
3,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,3.258497e+08,4.823249e+08,6945,2663,-42,-87,0,0,0,-87,0,NaN,0,-8.582999e+07,-1.332830e+08,150
15,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,3.296813e+08,4.685991e+08,7529,3073,-94,63,0,0,0,63,0,NaN,0,3.831609e+06,-1.372580e+07,150
14,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,2.842771e+08,4.134666e+08,6925,2688,-181,-180,0,0,0,-180,0,NaN,0,-4.540428e+07,-5.513248e+07,150
2,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,3.310704e+08,4.751903e+08,7377,-7376,-431,-194,0,0,0,-194,0,NaN,-25000,4.679336e+07,6.172369e+07,150
7,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,3.531993e+08,5.532945e+08,8697,-617,33,-15,0,0,0,-15,0,NaN,0,2.212890e+07,7.810419e+07,150
11,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,3.184236e+08,4.682940e+08,9339,3863,-240,-212,0,0,0,-212,0,NaN,0,-3.477571e+07,-8.500046e+07,150
0,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,2.928283e+08,4.459126e+08,10513,4832,409,102,0,0,0,102,0,NaN,0,-2.559535e+07,-2.238149e+07,150
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,2.945655e+08,4.487280e+08,11658,-2176,37,25,5,0,0,25,300,NaN,0,1.737184e+06,2.815476e+06,150
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,3.951591e+08,6.119330e+08,12754,5967,175,-247,11,8,1,-248,1100,0.000714,75000,1.005937e+08,1.632050e+08,150
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,2.937756e+08,4.604210e+08,11798,4975,-436,-104,11,4,1,-104,1200,-0.000330,0,-1.013835e+08,-1.515120e+08,150
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,3.636701e+08,5.373206e+08,11897,5935,385,45,21,13,1,43,1800,0.000297,0,6.989449e+07,7.689961e+07,150
21,2024-05-27 00:00:00+00:00,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,2.383715e+08,3.619388e+08,11163,-2943,381,248,24,14,0,248,1000,-0.000126,0,-1.252987e+08,-1.753818e+08,150
22,2024-06-03 00:00:00+00:00,1547663,551953,76044,50503,77,39,3,50500,5400,0.000556,150000,3.311793e+08,4.800084e+08,12680,6059,230,72,5,0,0,72,0,0.000000,0,9.280780e+07,1.180695e+08,150
23,2024-06-10 00:00:00+00:00,1564986,560433,76367,50518,85,45,5,50513,5400,0.000926,150000,2.810446e+08,4.510467e+08,17323,8480,323,15,8,6,2,13,0,0.000370,0,-5.013464e+07,-2.896170e+07,150
24,2024-06-17 00:00:00+00:00,1585072,570389,77179,51573,89,47,5,51568,5400,0.000926,150000,2.877646e+08,4.256710e+08,20086,9956,812,1055,4,2,0,1055,0,0.000000,0,6.720029e+06,-2.537562e+07,150
27,2024-06-24 00:00:00+00:00,1604255,580054,77976,51922,89,49,6,51916,5400,0.001111,150000,2.330592e+08,3.975463e+08,19183,9665,797,349,0,2,1,348,0,0.000185,0,-5.470544e+07,-2.812479e+07,150
25,2024-07-01 00:00:00+00:00,1623515,581132,79181,52367,89,49,6,52361,5400,0.001111,200000,3.088311e+08,5.026121e+08,19260,1078,1205,445,0,0,0,445,0,0.000000,50000,7.577195e+07,1.050658e+08,150
29,2024-07-08 00:00:00+00:00,1642390,591156,80485,53282,89,49,6,53276,5400,0.001111,200000,3.451679e+08,6.225982e+08,18875,10024,1304,915,0,0,0,915,0,0.000000,0,3.633678e+07,1.199862e+08,150
26,2024-07-15 00:00:00+00:00,1660384,600995,80647,53442,89,49,6,53436,5400,0.001111,200000,3.038853e+08,5.232131e+08,17994,9839,162,160,0,0,0,160,0,0.000000,0,-4.128266e+07,-9.938518e+07,150
28,2024-07-22 00:00:00+00:00,1679602,611708,81195,53916,89,49,6,53910,5400,0.001111,200000,2.870848e+08,4.694024e+08,19218,10713,548,474,0,0,0,474,0,0.000000,0,-1.680044e+07,-5.381067e+07,150
0,2024-07-29 00:00:00+00:00,1699571,622841,81151,54001,89,49,6,53995,5400,0.001111,200000,2.583061e+08,4.218204e+08,19969,11133,-44,85,0,0,0,85,0,0.000000,0,-2.877871e+07,-4.758201e+07,150

In [19]:
df.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers_WoW_Change', 'MAU_WoW_Change',
       'MMAU_WoW_Change', 'ACL_Applied_Loans_WoW_Change',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers_WoW_Change',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended_WoW_Change',
       'Uptake_WoW_Change', 'MAU_budget_WoW_Change',
       'IncomingAmount_WoW_Change', 'OutgoingAmount_WoW_Change',
       'ACLTSAbudget'],
      dtype='object')

In [20]:
final = df[['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change', 'Total_open_TSA_customers','Total_open_TSA_customers_WoW_Change', 'MAU', 'MAU_WoW_Change'
    , 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans','ACL_Applied_Loans_WoW_Change','ACL_Processed_Loans', 'ACL_Processed_Loans_WoW_Change', 'ACL_customers', 'ACL_customers_WoW_Change' 
    , 'MMAU_ACL_difference','MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake', 'MAU_budget'
    ,'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount']].copy()

In [21]:
final

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
12,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,<NA>,0,<NA>,0,<NA>,50617,<NA>,0,NaN,82693,150,3.244634e+08,5.013680e+08
8,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,3.947052e+08,6.577761e+08
9,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,3.584430e+08,5.445832e+08
4,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,3.032386e+08,4.846881e+08
6,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,2.989477e+08,4.626896e+08
1,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,0,0,50985,85,0,NaN,86193,150,4.104948e+08,6.265953e+08
10,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,0,0,50903,-82,0,NaN,86193,150,2.822920e+08,4.343265e+08
13,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,0,0,50728,-175,0,NaN,86193,150,3.264817e+08,4.766446e+08
5,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,0,0,50840,112,0,NaN,86193,150,2.675935e+08,4.148115e+08
16,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,0,0,50987,147,0,NaN,100000,150,4.116797e+08,6.156079e+08
3,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,0,0,50900,-87,0,NaN,100000,150,3.258497e+08,4.823249e+08
15,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,0,0,50963,63,0,NaN,100000,150,3.296813e+08,4.685991e+08
14,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,0,0,50783,-180,0,NaN,100000,150,2.842771e+08,4.134666e+08
2,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,0,0,50589,-194,0,NaN,75000,150,3.310704e+08,4.751903e+08
7,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,0,0,50574,-15,0,NaN,75000,150,3.531993e+08,5.532945e+08
11,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,0,0,50362,-212,0,NaN,75000,150,3.184236e+08,4.682940e+08
0,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,0,0,50464,102,0,NaN,75000,150,2.928283e+08,4.459126e+08
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,5,0,0,0,0,50489,25,300,0.000000,75000,150,2.945655e+08,4.487280e+08
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,8,8,1,1,50241,-248,1400,0.000714,150000,150,3.951591e+08,6.119330e+08
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,12,4,2,1,50137,-104,2600,0.000385,150000,150,2.937756e+08,4.604210e+08
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,25,13,3,1,50180,43,4400,0.000682,150000,150,3.636701e+08,5.373206e+08
21,2024-05-27 00:00:00+00:00,1534983,11163,545894,-2943,75814,381,50431,248,72,24,39,14,3,0,50428,248,5400,0.000556,150000,150,2.383715e+08,3.619388e+08
22,2024-06-03 00:00:00+00:00,1547663,12680,551953,6059,76044,230,50503,72,77,5,39,0,3,0,50500,72,5400,0.000556,150000,150,3.311793e+08,4.800084e+08
23,2024-06-10 00:00:00+00:00,1564986,17323,560433,8480,76367,323,50518,15,85,8,45,6,5,2,50513,13,5400,0.000926,150000,150,2.810446e+08,4.510467e+08
24,2024-06-17 00:00:00+00:00,1585072,20086,570389,9956,77179,812,51573,1055,89,4,47,2,5,0,51568,1055,5400,0.000926,150000,150,2.877646e+08,4.256710e+08
27,2024-06-24 00:00:00+00:00,1604255,19183,580054,9665,77976,797,51922,349,89,0,49,2,6,1,51916,348,5400,0.001111,150000,150,2.330592e+08,3.975463e+08
25,2024-07-01 00:00:00+00:00,1623515,19260,581132,1078,79181,1205,52367,445,89,0,49,0,6,0,52361,445,5400,0.001111,200000,150,3.088311e+08,5.026121e+08
29,2024-07-08 00:00:00+00:00,1642390,18875,591156,10024,80485,1304,53282,915,89,0,49,0,6,0,53276,915,5400,0.001111,200000,150,3.451679e+08,6.225982e+08
26,2024-07-15 00:00:00+00:00,1660384,17994,600995,9839,80647,162,53442,160,89,0,49,0,6,0,53436,160,5400,0.001111,200000,150,3.038853e+08,5.232131e+08
28,2024-07-22 00:00:00+00:00,1679602,19218,611708,10713,81195,548,53916,474,89,0,49,0,6,0,53910,474,5400,0.001111,200000,150,2.870848e+08,4.694024e+08
0,2024-07-29 00:00:00+00:00,1699571,19969,622841,11133,81151,-44,54001,85,89,0,49,0,6,0,53995,85,5400,0.001111,200000,150,2.583061e+08,4.218204e+08

In [22]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=585b901b-31be-438f-a9d4-cdeabccb0ab9>

In [23]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_Template_v2'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Date", "DATE"),
    bigquery.SchemaField("Total_registered_users", "INT64"),
    bigquery.SchemaField("Total_registered_users_WoW_Change", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MAU", "INT64"),
    bigquery.SchemaField("MAU_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU", "INT64"),
    bigquery.SchemaField("MMAU_WoW_Change", "INT64"),
    bigquery.SchemaField("ACL_Applied_Loans", "Int64"),
    bigquery.SchemaField("ACL_Applied_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_customers", "INT64"),
    bigquery.SchemaField("ACL_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference_WoW_Change", "INT64"),
    bigquery.SchemaField("Offers_extended", "INT64"),
    bigquery.SchemaField("Uptake", "INT64"),
    bigquery.SchemaField("MAU_budget", "INT64"),
    bigquery.SchemaField("ACLTSAbudget", "INT64"),
    bigquery.SchemaField("IncomingAmount", "FLOAT64"),
    bigquery.SchemaField("OutgoingAmount", "FLOAT64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(final, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_Template_v2 created in dataset dap_ds_poweruser_playground.

In [24]:
for date in week_start_dates:
    sq = f"""with 
        all_cust   --- To get the total registered customer till the cut off date
        AS( 
            SELECT count(distinct cust_id) Total_registered_users
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
            where created_dt <= "{date}" and cust_id is not null 
            ) ,
        open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
        AS(
            SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
                where CRINTERDESC like 'Transactional Savings Account Inv_R'
                and OFCUSTOMERID in (select distinct cust_id 
                from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
                AND OFDATEOPENED <= "{date}"
                AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
                )           
                ,
        loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
        AS (
            SELECT 
                distinct CAST(lmt.customerId AS STRING) customerId
            FROM 
                `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
                inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
            WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
            and lbfrc.loanStatus IN ('Normal', 'In Arrears')
                )           
                ,
        ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
            as 
                (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                    inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                    where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                    and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                    and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                    ),
        non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
        AS (
            SELECT 
                distinct CAST(cust_id AS STRING) customerId
            FROM 
                `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
            WHERE 
                cast(cust_id as string) not in (select customerId from loan_cust)
                and created_dt <= "{date}" and cust_id is not null 
        )
        /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
        No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
        If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
        ,        
        MAU_with_trx 
        AS (
            SELECT DISTINCT customer_id 
            FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
            WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
            AND ABS(trx_amount) > 100  --- transaction greater than 100
            AND account_type = "Tonik Account"  -- TSA account type
            AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
            )
            ,
        MAU_with_bal 
        AS (
            SELECT 
                DISTINCT client_id 
            FROM 
                `prj-prod-dataplatform.risk_mart.customer_balance`
            WHERE
                clearedbalance > 100  --- balance in any account greater than 100
                AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
                AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
                AND client_id NOT IN (SELECT customerId FROM loan_cust) 
            )            ,
        MAU --- 
            AS (
            SELECT distinct customer_id AS MAU 
            FROM 
                (SELECT customer_id 
                FROM 
                    MAU_with_trx
                UNION DISTINCT
                SELECT 
                    client_id AS customer_id
                FROM 
                    MAU_with_bal))
        Select "{date}" Dated, * from MAU;"""
    
    dfd = client.query(sq).to_dataframe()

In [25]:
dfd.shape

(81151, 2)

In [26]:
dfd.columns

Index(['Dated', 'MAU'], dtype='object')

In [27]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81151 entries, 0 to 81150
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dated   81151 non-null  object
 1   MAU     81151 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [28]:
dfd.sample(5)

            Dated      MAU
73569  2024-07-29  1086517
34644  2024-07-29  2660851
25108  2024-07-29  1427114
62630  2024-07-29  2413418
15170  2024-07-29  1048794

In [29]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_MAU_customers'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Dated", "DATE"),
    bigquery.SchemaField("MAU", "STRING"),
    ]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(dfd, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_MAU_customers created in dataset dap_ds_poweruser_playground.

In [30]:
df = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_MAU_customers;""").to_dataframe()
df.shape

(558337, 2)

In [31]:
df.to_csv("TSA_Report_Marketing_MAU_customers.csv", index = False)

In [32]:
df.columns

Index(['Dated', 'MAU'], dtype='object')

In [33]:
# Convert 'Dated' column to datetime format
df['Dated'] = pd.to_datetime(df['Dated'])

In [34]:
df['Dated'].unique()

<DatetimeArray>
['2024-07-29 00:00:00', '2024-06-17 00:00:00', '2024-06-24 00:00:00',
 '2024-07-01 00:00:00', '2024-07-08 00:00:00', '2024-07-15 00:00:00',
 '2024-07-22 00:00:00']
Length: 7, dtype: datetime64[ns]

In [35]:
# Separate data into two dataframes based on date
df_722 = df[df['Dated'] == '2024-07-22'].reset_index(drop=True)
df_729 = df[df['Dated'] == '2024-07-29'].reset_index(drop=True)

In [36]:
df_722.head()

       Dated      MAU
0 2024-07-22  1012182
1 2024-07-22  1015982
2 2024-07-22  1018046
3 2024-07-22  1064440
4 2024-07-22  1070328

In [37]:
df_729.head()

       Dated      MAU
0 2024-07-29  2632116
1 2024-07-29  2459594
2 2024-07-29  2613001
3 2024-07-29  2629012
4 2024-07-29  2453973

In [38]:
# Merge to find customers present on both dates
merged = pd.merge(df_722, df_729, on='MAU', suffixes=('_722', '_729'), how='outer')
merged

       Dated_722      MAU  Dated_729
0     2024-07-22  1000000 2024-07-29
1     2024-07-22  1000001 2024-07-29
2     2024-07-22  1000002 2024-07-29
3     2024-07-22  1000007 2024-07-29
4     2024-07-22  1000008 2024-07-29
...          ...      ...        ...
84189        NaT  2699711 2024-07-29
84190        NaT  2699727 2024-07-29
84191        NaT  2699728 2024-07-29
84192        NaT  2699737 2024-07-29
84193        NaT  2699770 2024-07-29

[84194 rows x 3 columns]

In [39]:
# Function to categorize customer presence
def categorize_presence(row):
    if pd.isna(row['Dated_729']):
        return 'Not available on 2024-07-29'
    elif pd.isna(row['Dated_722']):
        return 'New joiner on 2024-07-29'
    else:
        return 'Carry forward from 2024-07-22'

# Apply function to create category column
merged['Category'] = merged.apply(categorize_presence, axis=1)

# Display the result
print(merged[['MAU', 'Category']])

           MAU                       Category
0      1000000  Carry forward from 2024-07-22
1      1000001  Carry forward from 2024-07-22
2      1000002  Carry forward from 2024-07-22
3      1000007  Carry forward from 2024-07-22
4      1000008  Carry forward from 2024-07-22
...        ...                            ...
84189  2699711       New joiner on 2024-07-29
84190  2699727       New joiner on 2024-07-29
84191  2699728       New joiner on 2024-07-29
84192  2699737       New joiner on 2024-07-29
84193  2699770       New joiner on 2024-07-29

[84194 rows x 2 columns]

In [40]:
merged['Balance_date'] = '2024-07-29'

In [41]:
merged.head()

   Dated_722      MAU  Dated_729                       Category Balance_date
0 2024-07-22  1000000 2024-07-29  Carry forward from 2024-07-22   2024-07-29
1 2024-07-22  1000001 2024-07-29  Carry forward from 2024-07-22   2024-07-29
2 2024-07-22  1000002 2024-07-29  Carry forward from 2024-07-22   2024-07-29
3 2024-07-22  1000007 2024-07-29  Carry forward from 2024-07-22   2024-07-29
4 2024-07-22  1000008 2024-07-29  Carry forward from 2024-07-22   2024-07-29

In [42]:
merged = merged[['Balance_date', 'Dated_722', 'Dated_729', 'MAU', 'Category']].copy()

In [43]:
merged.rename(columns={'Dated_722':'Previousdate', 'Dated_729':'CurrentDate', 'MAU':'MAU_customerid'}, inplace = True)

In [44]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84194 entries, 0 to 84193
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Balance_date    84194 non-null  object
 1   Previousdate    81195 non-null  datetime64[ns]
 2   CurrentDate     81151 non-null  datetime64[ns]
 3   MAU_customerid  84194 non-null  object
 4   Category        84194 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 3.2+ MB

In [45]:
merged['Category'].value_counts()

Category
Carry forward from 2024-07-22    78152
Not available on 2024-07-29       3043
New joiner on 2024-07-29          2999
Name: count, dtype: int64

In [46]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_MAU_customers_differance_category'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Balance_date", "DATE"),
    bigquery.SchemaField("PreviousDate", "DATE"),
    bigquery.SchemaField("CurrentDate", "DATE"),
    bigquery.SchemaField("MAU_customerid", "STRING"),
    bigquery.SchemaField("Category", "STRING"),
    ]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(merged, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_MAU_customers_differance_category created in dataset dap_ds_poweruser_playground.