In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
pd.set_option("Display.max_columns", None)
# Example: pd.set_option('display.max_columns', None)

In [2]:
import datetime
from dateutil.relativedelta import relativedelta

def get_week_start_dates(start_date, end_date):
    week_start_dates = []
    current_date = start_date
    while current_date <= end_date:
        week_start_date = current_date - datetime.timedelta(days=current_date.weekday())
        week_start_dates.append(week_start_date)
        current_date += relativedelta(weeks=1)
    return week_start_dates

start_date = datetime.date(2024, 5, 27)
end_date = datetime.date(2024, 6, 2)

week_start_dates = get_week_start_dates(start_date, end_date)
print(week_start_dates)

[datetime.date(2024, 5, 27)]

In [3]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=fe676248-d600-4869-81bf-1ef0bace20cb>

In [4]:
sq = """create table dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup as select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=f7abc197-5557-4b1c-857c-de7f25c94176>

In [5]:
dfbackup = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup""").to_dataframe(progress_bar_type='tqdm')
dfbackup

Job ID 0ba98e22-9f27-4b26-bd7f-9241afe6559d successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
0,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,4.131717e+08,6.008770e+08
1,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,5.487903e+08,8.538345e+08
2,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,0,0,0,0,<NA>,50617,<NA>,0,NaN,82693,150,4.661563e+08,6.445024e+08
3,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,4.201008e+08,6.225065e+08
4,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,5.036094e+08,7.043583e+08
5,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,0,0,50963,63,0,NaN,100000,150,4.842237e+08,6.056653e+08
6,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,0,0,50987,147,0,NaN,100000,150,6.075519e+08,7.978355e+08
7,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,0,0,50900,-87,0,NaN,100000,150,4.727061e+08,6.292711e+08
8,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,0,0,50783,-180,0,NaN,100000,150,4.150882e+08,5.379436e+08
9,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,0,0,50840,112,0,NaN,86193,150,3.861385e+08,5.399870e+08
10,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,0,0,50728,-175,0,NaN,86193,150,4.815623e+08,6.129019e+08
11,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,0,0,50985,85,0,NaN,86193,150,5.817391e+08,8.214262e+08
12,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,0,0,50903,-82,0,NaN,86193,150,3.973242e+08,5.775619e+08
13,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,0,0,50574,-15,0,NaN,75000,150,5.154152e+08,7.079298e+08
14,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,0,0,50464,102,0,NaN,75000,150,4.496433e+08,5.952158e+08
15,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,0,0,50589,-194,0,NaN,75000,150,4.976792e+08,6.029310e+08
16,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,0,0,50362,-212,0,NaN,75000,150,4.758213e+08,6.041617e+08
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,0,0,0,0,0,50489,25,300,0.000000,75000,150,4.625543e+08,5.847615e+08
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,8,0,1,1,50241,-248,1400,0.000714,150000,150,6.250268e+08,7.927642e+08
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,12,4,2,1,50137,-104,2600,0.000385,150000,150,4.758620e+08,6.064303e+08
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,25,13,3,1,50180,43,4400,0.000682,150000,150,5.883145e+08,6.878450e+08

In [6]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers', 'Total_open_TSA_customers_WoW_Change',
       'MAU', 'MAU_WoW_Change', 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans',
       'ACL_Applied_Loans_WoW_Change', 'ACL_Processed_Loans',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers',
       'ACL_customers_WoW_Change', 'MMAU_ACL_difference',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake',
       'MAU_budget', 'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [7]:
dfbackup = dfbackup[['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',  'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers'
                     , 'MMAU_ACL_difference', 'Offers_extended', 'Uptake',  'MAU_budget', 'IncomingAmount', 'OutgoingAmount'
       ]].copy()

In [8]:
dfbackup

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,4.131717e+08,6.008770e+08
1,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,5.487903e+08,8.538345e+08
2,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,4.661563e+08,6.445024e+08
3,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,4.201008e+08,6.225065e+08
4,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,5.036094e+08,7.043583e+08
5,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,4.842237e+08,6.056653e+08
6,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,6.075519e+08,7.978355e+08
7,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,4.727061e+08,6.292711e+08
8,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,4.150882e+08,5.379436e+08
9,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,3.861385e+08,5.399870e+08
10,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,4.815623e+08,6.129019e+08
11,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,5.817391e+08,8.214262e+08
12,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,3.973242e+08,5.775619e+08
13,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,5.154152e+08,7.079298e+08
14,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,4.496433e+08,5.952158e+08
15,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,4.976792e+08,6.029310e+08
16,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,4.758213e+08,6.041617e+08
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,4.625543e+08,5.847615e+08
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,6.250268e+08,7.927642e+08
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,4.758620e+08,6.064303e+08
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,5.883145e+08,6.878450e+08

In [12]:
%%time
res =  pd.DataFrame()
for date in week_start_dates:
    query = f"""with 
    all_cust   --- To get the total registered customer till the cut off date
    AS( 
        SELECT count(distinct cust_id) Total_registered_users
        from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
        where created_dt <= "{date}" and cust_id is not null 
        ) ,
    open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
    AS(
        SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
            where CRINTERDESC like 'Transactional Savings Account Inv_R'
            and OFCUSTOMERID in (select distinct cust_id 
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
            AND OFDATEOPENED <= "{date}"
            AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
            )           
            ,
    loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
    AS (
        SELECT 
            distinct CAST(lmt.customerId AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
            inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
        WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
        and lbfrc.loanStatus IN ('Normal', 'In Arrears')
            )           
            ,
    ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
        as 
            (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                ),
    non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
    AS (
        SELECT 
            distinct CAST(cust_id AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
        WHERE 
            cast(cust_id as string) not in (select customerId from loan_cust)
            and created_dt <= "{date}" and cust_id is not null 
    )
    /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
    No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
    If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
    ,        
    MAU_with_trx 
    AS (
        SELECT DISTINCT customer_id 
        FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
        AND ABS(trx_amount) > 100  --- transaction greater than 100
        AND account_type = "Tonik Account"  -- TSA account type
        AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
        )
        ,
    MAU_with_bal 
     AS (
        SELECT 
            DISTINCT client_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 100  --- balance in any account greater than 100
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
            AND client_id NOT IN (SELECT customerId FROM loan_cust) 
        )            ,
    MAU --- 
        AS (
        SELECT COUNT(distinct customer_id) AS MAU 
        FROM 
            (SELECT customer_id 
            FROM 
                MAU_with_trx
            UNION DISTINCT
            SELECT 
                client_id AS customer_id
            FROM 
                MAU_with_bal)),
    /* a) MMAU should be without active SIL, Quck and Flex loan. but when they will have ACL TSA loan - those should be included into MMAUs. 
    b)  I would like to ask you to add  
    1) the active TSA ACL loans issued (today its zero) after the MMAU.  
    2) Difference between MMAU with TSA aCL loan and TSA ACL LOans that will show us the current pool of eligible customers. 
    3) Offers extended. They should live somewhere on the datalake table. 
    For example this week we will issue 1000 offers. Next week we will issue 10 000 more. So netx week it will be 11 k offers sent.   
    And last one 4) Uptake. TSA ACL Loans active divided into Offers sent. as %.   */
    MMAU_customerbase as (select cast(customerId as string)customerId from non_ACL_cust union all (select cast(customerId as string)customerId from ACL_Customer)) , 
    transactional_cust --Mareks criteria
    AS (
        SELECT 
            DISTINCT customer_id
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE
            transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 3 MONTH) AND date("{date}")
            AND customer_id in (SELECT customerId FROM MMAU_customerbase)
        GROUP BY
            customer_id
        HAVING 
            COUNT(*) >= 5
    ),
    cust_with_balance --Mareks criteria
    AS (
        SELECT 
            DISTINCT client_id AS customer_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 1000
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}")
            AND client_id in (SELECT customerId FROM MMAU_customerbase)
            ),
      MMAU
    AS (
        SELECT 
            COUNT(customer_id) AS MMAU 
        FROM 
            ( SELECT 
            customer_id 
        FROM 
            transactional_cust
        UNION DISTINCT
        SELECT 
            customer_id
        FROM 
            cust_with_balance))
          ,
    ACL_Customers_Applied
    AS (select count(digitalLoanAccountId) ACL_Applied_Loans, from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) <= "{date}" ),     
    ACL_Customers_Processed
    AS (select count(distinct digitalLoanAccountId) ACL_Processed_Loans from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) < "{date}"
    and date(decision_date) is not null), 
    ACL_customers 
    AS (
        SELECT 
      count(distinct lmt.customerId ) ACL_customers
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
        inner join ACL_Customer ac on ac.customerId = lmt.customerId
        WHERE 
           date(lmt.disbursementDateTime) <= date("{date}")),
    Offers_extended 
    AS (
        SELECT count(distinct cust_id) Offers_extended
    FROM 
    `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_offers_trx` 
    where date(offer_start_date) <= date("{date}") 
    and offer_type like 'TSA_Whitelist'
    ),
    volin as 
    ( select  round(sum(case when credit_debit_indicator = 'CREDIT' then coalesce(trx_amount, 0) else 0 end),2) IncomingAmount , 
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    volout as 
    ( select  round(sum(case when credit_debit_indicator = 'DEBIT' then coalesce(abs(trx_amount), 0) else 0 end),2) OutgoingAmount
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    b
    AS (
        SELECT 
            '{date}' AS Date,
            *
        FROM 
            all_cust  
        CROSS JOIN 
            open_TSA_cust
        CROSS JOIN 
            MAU 
        CROSS JOIN 
            MMAU
        CROSS JOIN
            ACL_Customers_Applied
        CROSS JOIN
            ACL_Customers_Processed
        CROSS JOIN
            ACL_customers
        CROSS JOIN 
            Offers_extended
        CROSS JOIN
            volin
        CROSS JOIN
            volout)
    select Date,
            Total_registered_users,
            Total_open_TSA_customers,
            MAU,
            MMAU,
            ACL_Applied_Loans,
            ACL_Processed_Loans,
            ACL_customers,
            MMAU - ACL_customers  MMAU_ACL_difference, 
            Offers_extended,
            CASE 
                WHEN Offers_extended<> 0 then ACL_customers/Offers_extended 
                ELSE NULL END AS Uptake,
            mb.MAU_Budget  MAU_budget  ,
            IncomingAmount,  
            OutgoingAmount      
            from b
           left join prj-prod-dataplatform.dap_ds_poweruser_playground.MAU_Budget mb on mb.yearmonth = FORMAT_DATE('%Y-%m', date(b.Date));"""
    df = client.query(query).to_dataframe()
    res = pd.concat([res,df])

CPU times: total: 15.6 ms
Wall time: 7.08 s

In [13]:
res

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-05-27,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,3.774202e+08,4.708092e+08

In [14]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [15]:
res.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [16]:
df1 = pd.concat([dfbackup, res])

In [17]:
df1

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,4.131717e+08,6.008770e+08
1,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,5.487903e+08,8.538345e+08
2,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,4.661563e+08,6.445024e+08
3,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,4.201008e+08,6.225065e+08
4,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,5.036094e+08,7.043583e+08
5,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,4.842237e+08,6.056653e+08
6,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,6.075519e+08,7.978355e+08
7,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,4.727061e+08,6.292711e+08
8,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,4.150882e+08,5.379436e+08
9,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,3.861385e+08,5.399870e+08
10,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,4.815623e+08,6.129019e+08
11,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,5.817391e+08,8.214262e+08
12,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,3.973242e+08,5.775619e+08
13,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,5.154152e+08,7.079298e+08
14,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,4.496433e+08,5.952158e+08
15,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,4.976792e+08,6.029310e+08
16,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,4.758213e+08,6.041617e+08
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,4.625543e+08,5.847615e+08
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,6.250268e+08,7.927642e+08
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,4.758620e+08,6.064303e+08
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,5.883145e+08,6.878450e+08
0,2024-05-27,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,3.774202e+08,4.708092e+08

In [18]:
df = df1.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 0 to 0
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      22 non-null     object
 1   Total_registered_users    22 non-null     Int64
 2   Total_open_TSA_customers  22 non-null     Int64
 3   MAU                       22 non-null     Int64
 4   MMAU                      22 non-null     Int64
 5   ACL_Applied_Loans         22 non-null     Int64
 6   ACL_Processed_Loans       22 non-null     Int64
 7   ACL_customers             22 non-null     Int64
 8   MMAU_ACL_difference       22 non-null     Int64
 9   Offers_extended           22 non-null     Int64
 10  Uptake                    5 non-null      float64
 11  MAU_budget                22 non-null     Int64
 12  IncomingAmount            22 non-null     float64
 13  OutgoingAmount            22 non-null     float64
dtypes: Int64(10), float64(3), object(1)
memory usage: 2.8+ KB

In [20]:
import pandas as pd

# Assuming df contains your DataFrame with the data

# Convert the 'Date' column to datetime type with UTC timezone
df['Date'] = pd.to_datetime(df['Date'], utc=True)

# Sort the DataFrame by date
df = df.sort_values('Date')

# Calculate the week-on-week change for each column
for column in df.columns[1:]:  # Exclude 'Date' column
    df[f'{column}_WoW_Change'] = df[column].diff()

# Display the DataFrame with week-on-week changes
print(df)

df['ACLTSAbudget'] = 150

                        Date  Total_registered_users  \
2  2024-01-01 00:00:00+00:00                 1355336
1  2024-01-08 00:00:00+00:00                 1362292
4  2024-01-15 00:00:00+00:00                 1369085
3  2024-01-22 00:00:00+00:00                 1376006
0  2024-01-29 00:00:00+00:00                 1383107
11 2024-02-05 00:00:00+00:00                 1390338
12 2024-02-12 00:00:00+00:00                 1397598
10 2024-02-19 00:00:00+00:00                 1404530
9  2024-02-26 00:00:00+00:00                 1411640
6  2024-03-04 00:00:00+00:00                 1418388
7  2024-03-11 00:00:00+00:00                 1425333
5  2024-03-18 00:00:00+00:00                 1432862
8  2024-03-25 00:00:00+00:00                 1439787
15 2024-04-01 00:00:00+00:00                 1447164
13 2024-04-08 00:00:00+00:00                 1455861
16 2024-04-15 00:00:00+00:00                 1465200
14 2024-04-22 00:00:00+00:00                 1475713
17 2024-04-29 00:00:00+00:00                 1487371
18 2024-05-06 00:00:00+00:00                 1500125
19 2024-05-13 00:00:00+00:00                 1511923
20 2024-05-20 00:00:00+00:00                 1523820
0  2024-05-27 00:00:00+00:00                 1534983

    Total_open_TSA_customers    MAU   MMAU  ACL_Applied_Loans  \
2                     516362  73572  50617                  0
1                     519839  73835  50778                  0
4                     523114  74108  50845                  0
3                     516477  74288  51028                  0
0                     519803  74193  50900                  0
11                    522814  74287  50985                  0
12                    525724  74490  50903                  0
10                    528591  74783  50728                  0
9                     521983  75099  50840                  0
6                     525010  75818  50987                  0
7                     527673  75776  50900                  0
5                     530746  75682  50963                  0
8                     533434  75501  50783                  0
15                    526058  75070  50589                  0
13                    525441  75103  50574                  0
16                    529304  74863  50362                  0
14                    534136  75272  50464                  0
17                    531960  75309  50489                  5
18                    537927  75484  50242                 16
19                    542902  75048  50138                 27
20                    548837  75433  50183                 48
0                     545894  75814  50431                 72

    ACL_Processed_Loans  ACL_customers  MMAU_ACL_difference  Offers_extended  \
2                     0              0                50617                0
1                     0              0                50778                0
4                     0              0                50845                0
3                     0              0                51028                0
0                     0              0                50900                0
11                    0              0                50985                0
12                    0              0                50903                0
10                    0              0                50728                0
9                     0              0                50840                0
6                     0              0                50987                0
7                     0              0                50900                0
5                     0              0                50963                0
8                     0              0                50783                0
15                    0              0                50589                0
13                    0              0                50574                0
16                    0              0                50362                0
14                    0              0                50464                0
17                    0              0                50489              300
18                    8              1                50241             1400
19                   12              2                50137             2600
20                   25              3                50180             4400
0                    39              3                50428             5400

      Uptake  MAU_budget  IncomingAmount  OutgoingAmount  \
2        NaN       82693    4.661563e+08    6.445024e+08
1        NaN       82693    5.487903e+08    8.538345e+08
4        NaN       82693    5.036094e+08    7.043583e+08
3        NaN       82693    4.201008e+08    6.225065e+08
0        NaN       82693    4.131717e+08    6.008770e+08
11       NaN       86193    5.817391e+08    8.214262e+08
12       NaN       86193    3.973242e+08    5.775619e+08
10       NaN       86193    4.815623e+08    6.129019e+08
9        NaN       86193    3.861385e+08    5.399870e+08
6        NaN      100000    6.075519e+08    7.978355e+08
7        NaN      100000    4.727061e+08    6.292711e+08
5        NaN      100000    4.842237e+08    6.056653e+08
8        NaN      100000    4.150882e+08    5.379436e+08
15       NaN       75000    4.976792e+08    6.029310e+08
13       NaN       75000    5.154152e+08    7.079298e+08
16       NaN       75000    4.758213e+08    6.041617e+08
14       NaN       75000    4.496433e+08    5.952158e+08
17  0.000000       75000    4.625543e+08    5.847615e+08
18  0.000714      150000    6.250268e+08    7.927642e+08
19  0.000385      150000    4.758620e+08    6.064303e+08
20  0.000682      150000    5.883145e+08    6.878450e+08
0   0.000556      150000    3.774202e+08    4.708092e+08

    Total_registered_users_WoW_Change  Total_open_TSA_customers_WoW_Change  \
2                                <NA>                                 <NA>
1                                6956                                 3477
4                                6793                                 3275
3                                6921                                -6637
0                                7101                                 3326
11                               7231                                 3011
12                               7260                                 2910
10                               6932                                 2867
9                                7110                                -6608
6                                6748                                 3027
7                                6945                                 2663
5                                7529                                 3073
8                                6925                                 2688
15                               7377                                -7376
13                               8697                                 -617
16                               9339                                 3863
14                              10513                                 4832
17                              11658                                -2176
18                              12754                                 5967
19                              11798                                 4975
20                              11897                                 5935
0                               11163                                -2943

    MAU_WoW_Change  MMAU_WoW_Change  ACL_Applied_Loans_WoW_Change  \
2             <NA>             <NA>                          <NA>
1              263              161                             0
4              273               67                             0
3              180              183                             0
0              -95             -128                             0
11              94               85                             0
12             203              -82                             0
10             293             -175                             0
9              316              112                             0
6              719              147                             0
7              -42              -87                             0
5              -94               63                             0
8             -181             -180                             0
15            -431             -194                             0
13              33              -15                             0
16            -240             -212                             0
14             409              102                             0
17              37               25                             5
18             175             -247                            11
19            -436             -104                            11
20             385               45                            21
0              381              248                            24

    ACL_Processed_Loans_WoW_Change  ACL_customers_WoW_Change  \
2                             <NA>                      <NA>
1                                0                         0
4                                0                         0
3                                0                         0
0                                0                         0
11                               0                         0
12                               0                         0
10                               0                         0
9                                0                         0
6                                0                         0
7                                0                         0
5                                0                         0
8                                0                         0
15                               0                         0
13                               0                         0
16                               0                         0
14                               0                         0
17                               0                         0
18                               8                         1
19                               4                         1
20                              13                         1
0                               14                         0

    MMAU_ACL_difference_WoW_Change  Offers_extended_WoW_Change  \
2                             <NA>                        <NA>
1                              161                           0
4                               67                           0
3                              183                           0
0                             -128                           0
11                              85                           0
12                             -82                           0
10                            -175                           0
9                              112                           0
6                              147                           0
7                              -87                           0
5                               63                           0
8                             -180                           0
15                            -194                           0
13                             -15                           0
16                            -212                           0
14                             102                           0
17                              25                         300
18                            -248                        1100
19                            -104                        1200
20                              43                        1800
0                              248                        1000

    Uptake_WoW_Change  MAU_budget_WoW_Change  IncomingAmount_WoW_Change  \
2                 NaN                   <NA>                        NaN
1                 NaN                      0               8.263399e+07
4                 NaN                      0              -4.518087e+07
3                 NaN                      0              -8.350865e+07
0                 NaN                      0              -6.929134e+06
11                NaN                   3500               1.685675e+08
12                NaN                      0              -1.844149e+08
10                NaN                      0               8.423804e+07
9                 NaN                      0              -9.542373e+07
6                 NaN                  13807               2.214134e+08
7                 NaN                      0              -1.348458e+08
5                 NaN                      0               1.151760e+07
8                 NaN                      0              -6.913557e+07
15                NaN                 -25000               8.259109e+07
13                NaN                      0               1.773596e+07
16                NaN                      0              -3.959387e+07
14                NaN                      0              -2.617803e+07
17                NaN                      0               1.291104e+07
18           0.000714                  75000               1.624725e+08
19          -0.000330                      0              -1.491649e+08
20           0.000297                      0               1.124525e+08
0           -0.000126                      0              -2.108943e+08

    OutgoingAmount_WoW_Change
2                         NaN
1                2.093321e+08
4               -1.494761e+08
3               -8.185180e+07
0               -2.162958e+07
11               2.205492e+08
12              -2.438642e+08
10               3.533996e+07
9               -7.291492e+07
6                2.578485e+08
7               -1.685644e+08
5               -2.360582e+07
8               -6.772171e+07
15               6.498749e+07
13               1.049987e+08
16              -1.037681e+08
14              -8.945853e+06
17              -1.045430e+07
18               2.080027e+08
19              -1.863339e+08
20               8.141473e+07
0               -2.170358e+08

In [ ]:
# # Assuming df contains your DataFrame with the data
# # Convert the 'Date' column to datetime type
# df['Date'] = pd.to_datetime(df['Date'])

# # Sort the DataFrame by date
# df = df.sort_values('Date')


# # Calculate the week-on-week change for each column
# for column in df.columns[1:]:  # Exclude 'Date' column
#     df[f'{column}_WoW_Change'] = df[column].diff()
#     # df[f'{column}_WoW_Change'] = df[column].shift(1) - df[column]

# # Display the DataFrame with week-on-week changes
# # df['MAU_budget'] = 75000
# # df['perMAUbudget_Completion'] = round(df['MAU']/df['MAU_budget'], 2)
# df['ACLTSAbudget'] = 150
# # df['UptakeACLTSAvsbudget'] = round(df['Uptake'] / df['ACLTSAbudget'], 2)
# # df['MAUas_percent_oftotalregisteredusers'] = round(df['MAU']/df['Total_registered_users'], 2 )
# # df['MMAU_of_MAU'] = round(df['MMAU']/df['MAU'], 2)

In [21]:
df

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount,Total_registered_users_WoW_Change,Total_open_TSA_customers_WoW_Change,MAU_WoW_Change,MMAU_WoW_Change,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans_WoW_Change,ACL_customers_WoW_Change,MMAU_ACL_difference_WoW_Change,Offers_extended_WoW_Change,Uptake_WoW_Change,MAU_budget_WoW_Change,IncomingAmount_WoW_Change,OutgoingAmount_WoW_Change,ACLTSAbudget
2,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,4.661563e+08,6.445024e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,NaN,NaN,150
1,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,5.487903e+08,8.538345e+08,6956,3477,263,161,0,0,0,161,0,NaN,0,8.263399e+07,2.093321e+08,150
4,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,5.036094e+08,7.043583e+08,6793,3275,273,67,0,0,0,67,0,NaN,0,-4.518087e+07,-1.494761e+08,150
3,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,4.201008e+08,6.225065e+08,6921,-6637,180,183,0,0,0,183,0,NaN,0,-8.350865e+07,-8.185180e+07,150
0,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,4.131717e+08,6.008770e+08,7101,3326,-95,-128,0,0,0,-128,0,NaN,0,-6.929134e+06,-2.162958e+07,150
11,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,5.817391e+08,8.214262e+08,7231,3011,94,85,0,0,0,85,0,NaN,3500,1.685675e+08,2.205492e+08,150
12,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,3.973242e+08,5.775619e+08,7260,2910,203,-82,0,0,0,-82,0,NaN,0,-1.844149e+08,-2.438642e+08,150
10,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,4.815623e+08,6.129019e+08,6932,2867,293,-175,0,0,0,-175,0,NaN,0,8.423804e+07,3.533996e+07,150
9,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,3.861385e+08,5.399870e+08,7110,-6608,316,112,0,0,0,112,0,NaN,0,-9.542373e+07,-7.291492e+07,150
6,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,6.075519e+08,7.978355e+08,6748,3027,719,147,0,0,0,147,0,NaN,13807,2.214134e+08,2.578485e+08,150
7,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,4.727061e+08,6.292711e+08,6945,2663,-42,-87,0,0,0,-87,0,NaN,0,-1.348458e+08,-1.685644e+08,150
5,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,4.842237e+08,6.056653e+08,7529,3073,-94,63,0,0,0,63,0,NaN,0,1.151760e+07,-2.360582e+07,150
8,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,4.150882e+08,5.379436e+08,6925,2688,-181,-180,0,0,0,-180,0,NaN,0,-6.913557e+07,-6.772171e+07,150
15,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,4.976792e+08,6.029310e+08,7377,-7376,-431,-194,0,0,0,-194,0,NaN,-25000,8.259109e+07,6.498749e+07,150
13,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,5.154152e+08,7.079298e+08,8697,-617,33,-15,0,0,0,-15,0,NaN,0,1.773596e+07,1.049987e+08,150
16,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,4.758213e+08,6.041617e+08,9339,3863,-240,-212,0,0,0,-212,0,NaN,0,-3.959387e+07,-1.037681e+08,150
14,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,4.496433e+08,5.952158e+08,10513,4832,409,102,0,0,0,102,0,NaN,0,-2.617803e+07,-8.945853e+06,150
17,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,4.625543e+08,5.847615e+08,11658,-2176,37,25,5,0,0,25,300,NaN,0,1.291104e+07,-1.045430e+07,150
18,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,6.250268e+08,7.927642e+08,12754,5967,175,-247,11,8,1,-248,1100,0.000714,75000,1.624725e+08,2.080027e+08,150
19,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,4.758620e+08,6.064303e+08,11798,4975,-436,-104,11,4,1,-104,1200,-0.000330,0,-1.491649e+08,-1.863339e+08,150
20,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,5.883145e+08,6.878450e+08,11897,5935,385,45,21,13,1,43,1800,0.000297,0,1.124525e+08,8.141473e+07,150
0,2024-05-27 00:00:00+00:00,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,3.774202e+08,4.708092e+08,11163,-2943,381,248,24,14,0,248,1000,-0.000126,0,-2.108943e+08,-2.170358e+08,150

In [22]:
df.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers_WoW_Change', 'MAU_WoW_Change',
       'MMAU_WoW_Change', 'ACL_Applied_Loans_WoW_Change',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers_WoW_Change',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended_WoW_Change',
       'Uptake_WoW_Change', 'MAU_budget_WoW_Change',
       'IncomingAmount_WoW_Change', 'OutgoingAmount_WoW_Change',
       'ACLTSAbudget'],
      dtype='object')

In [23]:
final = df[['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change', 'Total_open_TSA_customers','Total_open_TSA_customers_WoW_Change', 'MAU', 'MAU_WoW_Change'
    , 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans','ACL_Applied_Loans_WoW_Change','ACL_Processed_Loans', 'ACL_Processed_Loans_WoW_Change', 'ACL_customers', 'ACL_customers_WoW_Change' 
    , 'MMAU_ACL_difference','MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake', 'MAU_budget'
    ,'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount']].copy()

In [24]:
final

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
2,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,<NA>,0,<NA>,0,<NA>,50617,<NA>,0,NaN,82693,150,4.661563e+08,6.445024e+08
1,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,5.487903e+08,8.538345e+08
4,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,5.036094e+08,7.043583e+08
3,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,4.201008e+08,6.225065e+08
0,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,4.131717e+08,6.008770e+08
11,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,0,0,50985,85,0,NaN,86193,150,5.817391e+08,8.214262e+08
12,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,0,0,50903,-82,0,NaN,86193,150,3.973242e+08,5.775619e+08
10,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,0,0,50728,-175,0,NaN,86193,150,4.815623e+08,6.129019e+08
9,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,0,0,50840,112,0,NaN,86193,150,3.861385e+08,5.399870e+08
6,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,0,0,50987,147,0,NaN,100000,150,6.075519e+08,7.978355e+08
7,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,0,0,50900,-87,0,NaN,100000,150,4.727061e+08,6.292711e+08
5,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,0,0,50963,63,0,NaN,100000,150,4.842237e+08,6.056653e+08
8,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,0,0,50783,-180,0,NaN,100000,150,4.150882e+08,5.379436e+08
15,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,0,0,50589,-194,0,NaN,75000,150,4.976792e+08,6.029310e+08
13,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,0,0,50574,-15,0,NaN,75000,150,5.154152e+08,7.079298e+08
16,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,0,0,50362,-212,0,NaN,75000,150,4.758213e+08,6.041617e+08
14,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,0,0,50464,102,0,NaN,75000,150,4.496433e+08,5.952158e+08
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,5,0,0,0,0,50489,25,300,0.000000,75000,150,4.625543e+08,5.847615e+08
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,8,8,1,1,50241,-248,1400,0.000714,150000,150,6.250268e+08,7.927642e+08
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,12,4,2,1,50137,-104,2600,0.000385,150000,150,4.758620e+08,6.064303e+08
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,25,13,3,1,50180,43,4400,0.000682,150000,150,5.883145e+08,6.878450e+08
0,2024-05-27 00:00:00+00:00,1534983,11163,545894,-2943,75814,381,50431,248,72,24,39,14,3,0,50428,248,5400,0.000556,150000,150,3.774202e+08,4.708092e+08

In [25]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=8c00a494-7185-4f5d-90a3-4273d29e197c>

In [26]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_Template_v2'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Date", "DATE"),
    bigquery.SchemaField("Total_registered_users", "INT64"),
    bigquery.SchemaField("Total_registered_users_WoW_Change", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MAU", "INT64"),
    bigquery.SchemaField("MAU_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU", "INT64"),
    bigquery.SchemaField("MMAU_WoW_Change", "INT64"),
    bigquery.SchemaField("ACL_Applied_Loans", "Int64"),
    bigquery.SchemaField("ACL_Applied_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_customers", "INT64"),
    bigquery.SchemaField("ACL_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference_WoW_Change", "INT64"),
    bigquery.SchemaField("Offers_extended", "INT64"),
    bigquery.SchemaField("Uptake", "INT64"),
    bigquery.SchemaField("MAU_budget", "INT64"),
    bigquery.SchemaField("ACLTSAbudget", "INT64"),
    bigquery.SchemaField("IncomingAmount", "FLOAT64"),
    bigquery.SchemaField("OutgoingAmount", "FLOAT64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(final, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_Template_v2 created in dataset dap_ds_poweruser_playground.